<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="600" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css'>
    <script src="socket.io.js"></script>
</head>
<body>
    
    <h1>Url that needs Subresource Integrity for all external scripts</h1>
        <input type="text" id="url">
        <button  type="button" onclick="submiturl()">Get Subresource Integrity</button>
    <div id="results"></div> 

    <div>Get me the Script's Integrity Sha386 only:<BR>
        <input type="text" id="scriptOnly">
        <button  type="button" onclick="submitscript()">Get</button><BR>
        <div id="scriptResults"></div>
    </div>

<script src="index.js"></script>
</body>
</html>
